{% extends "base.html" %}

{% block title %}Добавить Компанию{% endblock %}

{% block content %}
<h1>Добавить Компанию</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">
            Название <span class="text-danger">(обязательно)</span>
        </label>
        {{ form.name }}
        {% if form.name.errors %}
            <div class="text-danger">{{ form.name.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{ form.inn.id_for_label }}" class="form-label">
            ИНН <span class="text-danger">(обязательно)</span>
        </label>
        {{ form.inn }}
        {% if form.inn.errors %}
            <div class="text-danger">{{ form.inn.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{ form.fias_code.id_for_label }}" class="form-label">
            Код ФИАС <small class="text-muted">(необязательно)</small>
        </label>
        {{ form.fias_code }}
        {% if form.fias_code.errors %}
            <div class="text-danger">{{ form.fias_code.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">
            Роли <span class="text-danger">(обязательно одну или несколько ролей для компании выбрать)</span>
        </label>
        <div class="form-check">
            {{ form.is_customer }}
            <label class="form-check-label" for="{{ form.is_customer.id_for_label }}">
                Заказчик
            </label>
        </div>
        <div class="form-check">
            {{ form.is_licensee }}
            <label class="form-check-label" for="{{ form.is_licensee.id_for_label }}">
                Лицензиат МЧС
            </label>
        </div>
        <div class="form-check">
            {{ form.is_laboratory }}
            <label class="form-check-label" for="{{ form.is_laboratory.id_for_label }}">
                Лаборатория
            </label>
        </div>
        <div class="form-check">
            {{ form.is_subcontractor }}
            <label class="form-check-label" for="{{ form.is_subcontractor.id_for_label }}">
                Субподрядчик
            </label>
        </div>
        {% if form.non_field_errors %}
            <div class="text-danger">{{ form.non_field_errors }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'contract_core:companies_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
