{% extends "base.html" %}

{% block title %}Справочник Компаний{% endblock %}

{% block content %}
<h1>Справочник Компаний</h1>
<a href="{% url 'identity:company_create' %}" class="btn btn-primary mb-3">Добавить Компанию</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>ИНН</th>
            <th>Роли</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.inn }}</td>
            <td>
                {% if company.is_customer %}Заказчик {% endif %}
                {% if company.is_licensee %}Лицензиат {% endif %}
                {% if company.is_lab %}Лаборатория {% endif %}
                {% if company.is_subcontractor %}Субподрядчик {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">Нет компаний в базе.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
