{% extends "base.html" %}

{% block title %}Справочник Пользователей{% endblock %}

{% block content %}
<h1>Справочник Пользователей</h1>
<a href="{% url 'identity:user_create' %}" class="btn btn-primary mb-3">Добавить Пользователя</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Фото</th>
            <th>Имя пользователя</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Категория</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="Аватар" width="50" height="50" class="rounded-circle">
                {% else %}
                    <div style="width: 50px; height: 50px; background-color: #ccc; border-radius: 50%; display: inline-block;"></div>
                {% endif %}
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.get_category_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Нет пользователей в базе.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
